.administration{
    display: flex;
    margin-top: 50px;
    gap: 25px;
}

 th, td{
    border: 1px solid black;
}

table{
    width: 100%;
    padding: 15px 15px 0;
    border-collapse: collapse;
}
th, td{
    padding: 4px 6px;
}

td{
    text-align: center;
}

.lists{
    display: flex;
    flex-direction: column;
}

.list{
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 15px;
}

.list .add{
    margin-top: 5px;
    padding-right: 5px;
    text-align: right;
}

.title{
    text-align: center;
}

.list_title{
    text-align: center;
}

h2{
    margin: 5px;
}

h1{
    margin: 0;
}
.action{
    display: flex;
    flex-direction: column;
}

.error{
    text-align: center;
    color: red;
}

.error p{
    margin: 0;
}

.using{
    color: black;
}

.using h4{
    margin: 0;
}

.using ul{
    display: flex;
    flex-direction: column;
    background: none;
    list-style-type: disc;
    font-size: 100%;
}

a{
    text-decoration: none;
    color: #155dee;

}

.article_select{
    width: 100%;
    font-size: 150%;
    margin-top: 20px;
    text-align: center;
}

.article_select form{
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.article_select select{
    height: 35px;
    font-size: 60%;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.article_select button{
    height: 35px;
    font-size: 60%;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}


.delete{
    color: red;
}

.images_list{
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.image{
    text-align: center;
    width: 310px;
    height: 250px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 5px;
}

.image p{
    margin-bottom: 0px;
    margin-top: 5px;
}

.image_add{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
}

.image_add h2{
    margin-bottom: 20px;
}

.name_action{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.name_action p {
    margin: 0;
}

.name_action a{
}

input{
    margin-bottom: 5px;
    text-align: center;
}

label{
    text-align: center;
    margin-bottom: 5px;
}

textarea{
    padding: 0;
    margin-bottom: 5px;
    height: 80px;
    resize: none;
    text-align: center;
}

.search{
    max-height: 150px;
}

@media only screen and (max-width: 800px) {
    .administration{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .admin_nav_bar{
        display: flex !important;
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 600px) {
    .hide{
        display: none;
    }
}