body{
    padding-right: 20px;
    padding-left: 20px;
}

.article img{
    width: 100%;
    max-width: 750px;
    height: 500px;
    border: 1px solid black;
}

.article{
    border-radius: 25px;
    margin-top: 20px;
    border-bottom: solid 4px #155dee;
}

.article{
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
}

.content {
    max-width: 1200px;
    width: 100%;
}

.content li{
    white-space: normal !important;
}

.comment_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 50px;
}
.article .article_image{
    text-align: center;
}

.comments{
    max-width: 650px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
    border-radius: 25px;
}

.comments h2{
    border-bottom: solid 4px #155dee;
}

.comment_header{
    display: flex;
}

.comment_header{
    margin: 0;
}

h4{
    margin: 5px;
}

a{
    color: #155dee;
    text-decoration: none;
}

.comment_header p{
    margin-top: 5px;
    margin-left: 5px;
}

.comment_text p{
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0;
}

.comment .delete_comment{
    text-align: right;
    margin-right: 10px;
}

.comment{
    border-bottom: solid 4px #155dee;
}

.form_div{
    text-align: center;
    display: flex;
    justify-content: center;
}

form{
    border-radius: 25px;

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 650px;
    width: 100%;
}

form input{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
    height: 35px;
    border-radius: 5px;
    font-size: 120%;
}

textarea{
    margin: 25px;
    border-radius: 10px;
    resize: none;
    padding: 5px;
}

button{
    height: 52px;
    margin: 0 25px 25px;
    border-radius: 5px;
}

h2{
    margin-bottom: 0;
    text-align: center;
}

.comments h4, p{
    margin-bottom: 0;
}

.categories, .article_info, .views{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 120%;
}

.views{
    margin-top: 0;
}

.categories p, .article_info p{
    padding-top: 7px;
    margin-top: 0;
}

.article_info a, .categories a{
    font-size: 120%;
    background-color: #155dee;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.categories a:hover{
    transform: scale(1.2);
}

.article_info a:hover{
    transform: scale(1.2);
}

.content img{
    all: initial;
}

.content img{
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .comment_section {
        display: block;
    }

    .comments{
        margin-top: 25px;
        min-height: 450px;
    }
}