body{
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.selected{
    background-color: #b6c2d9;
}

.nav_bar, .admin_nav_bar {
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #155dee;
    top: 0;
    width: 100%;
    max-width: 1300px;
}

.nav_bar{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

a{
    margin: 0;
}

li {
    float: left;

}

.nav_bar li a, .admin_nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar li a:hover, .admin_nav_bar li a:hover {
    background-color: #b6c2d9;
}

.login_logout{
    display: flex;
    justify-content: right;
}