body{
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.selected{
    background-color: #b6c2d9;
}

.nav_bar, .admin_nav_bar {
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #155dee;
    top: 0;
    width: 100%;
    max-width: 1300px;
}

.nav_bar{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

a{
    margin: 0;
}

li {
    float: left;
    white-space: nowrap;
}

img{
    object-fit: cover;
}

.nav_bar li a, .admin_nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_bar li a:hover, .admin_nav_bar li a:hover {
    background-color: #b6c2d9;
}

.login_logout{
    display: flex;
    justify-content: right;
}

.inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pagination{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.pagination p{
    margin: 0;
}

.invisible{
    display: none;
}

.arrow{
    width: 10px;
    height: 10px;
    border: solid #155dee;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left{
    transform: rotate(135deg);
}

.right{
    transform: rotate(-45deg);
}

.right:hover{
    transform: scale(1.2) rotate(-45deg);
}

.left:hover{
    transform:scale(1.2) rotate(135deg);
}

@media only screen and (max-width: 900px) {
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .login_logout{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    ul{
        display: grid;
        grid-template-columns: 1fr;
    }

    .login_logout{
        display: grid;
        grid-template-columns: 1fr;
    }

    .inner{
        display: block;
    }

    .form_div_search{
        display: flex;
        justify-content: left !important;
    }
}