body{
    font-family: sans-serif;
    max-width: 1300px;
    margin: 0 auto;
}

.selected{
    background-color: #b6c2d9;
}

ul {
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #155dee;
    top: 0;
    width: 100%;
    max-width: 1300px;
}

a{
    margin: 0;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b6c2d9;
}

.login_logout{
    display: flex;
    justify-content: right;
}